html {
	box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
	/* height & width will now include border & padding by default
		but can be over-ridden as needed */
	box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
		in most browser configurations this will be 10px */
:root {
	font-size: 62.5%
}

body {
	background-color: gray;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

section.board {
	display: grid;
	grid-template-rows: repeat(3, 10vmin);
	grid-template-columns: repeat(3, 10vmin);
	grid-gap: 0vmin;
}

div {
	border: 3px solid black;
	font-size: 8vmin;
	text-align: center;
	vertical-align: middle;
}

#reset {
	width: 10vmin;
	margin-top: 16px;
}

body {
	display: flex;
	align-items: center;
}